.testimonials-section {
  padding: 80px 20px;
  /* background: #555; */
  background-color: #f5f5f3;
  /* color: #555; */

  color: #fff;
  text-align: center;
}

.section-title {
  font-size: 32px;
  margin-bottom: 40px;
  font-weight: 600;
  color: black;
}

.testimonial-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.testimonial-card {
  background: #fff3f3;
  padding: 25px;
  border-radius: 12px;
  width: 300px;
  transition: transform 0.3s ease;
}

.testimonial-card:hover {
  transform: translateY(-8px);
  opacity: 0.5;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.testimonial-card p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 15px;
  color: rgb(121, 11, 11);
}

.testimonial-card h4 {
  color: #010405;
}